body {
    margin: 0;
    margin-bottom: 50px;
    padding: 0;
    font-family: 'Poppins', sans-serif; 
    background-color: #faf5ff;
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}

.navbar {
    position: sticky;
    display: flex;
    background-color: #ffffff; 
    justify-content: space-between;
    align-items: center;
    top:0;
    z-index: 1000;
}

#toggle-light-mode{
    display: none;
}
#toggle-dark-mode{
    background: #ca8a04;
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 30px;
    cursor: pointer;
}
.fa-x,.fa-bars{
    display: none;
}
.fa-check{
    display: none;
}

.list {
    display: flex;
    list-style: none;
    gap: 10px;
}
 a{
    text-decoration: none;
    list-style: none; 
    color: black;
    font-size: medium;
    font-weight: bolder;
    font-size: 17px;
}

.logo span {
      background: #a855f7;
      -webkit-background-clip: text;
       color: transparent;
       font-weight: bold;
       margin-left: 2vw;
       font-size: 24px;

}
.list-items{
    margin-right: 3vw;
}

.list-items a {
    padding: 5px;
    transition: background 0.3s ease;
}

.list-items :hover {
    background: #a855f7;
     color: white;
     border-radius: 20px;
     padding:7px;
}
.description-container {
    display: flex;
     align-items: center;
    justify-content: space-between; 
    margin-top: 15px;
  }
.description-container img {
    width: 100vw;
    max-width: 450px;
    height: auto;
}
.description {
       margin-left: 10px;
       padding: 20px;
       font-weight: bold;
       font-size: 18px;
       background: #a855f7;
      -webkit-background-clip: text;
       color: transparent;     
  }
.description h1{
    background: #ca8a04;
    -webkit-background-clip: text;
    color: transparent; 
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:20px;   
}
.about h1{
    background: #9333ea;
      -webkit-background-clip: text;
       color: transparent; 
}
.about-card{
    background: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 13px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.about-card h2{
    text-align: center;
    background: #ca8a04;
    -webkit-background-clip: text;
    color: transparent;
   
}
.about-card h4 {
    margin: 5px; 
    color: #a855f7;
}
.project {
    background: white;
    padding: 15px;
    border-radius: 13px;
    color: black;
    width: 200px;
    height: 330px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.project-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;   
}

.image-container img {
    width: 200px;
    max-height: 200px;
    border-radius: 10px;
    object-fit: cover;
    object-position: top left;
    margin: 0 auto; 
    display: block;
    overflow: hidden;
}
.project div{
    text-align: center;
    margin-top: 5px;
}
.project div a{
    color: #ca8a04; 
}
.contact-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card{
    background: white;
    width: 290px;
    padding: 10px;
    border-radius: 13px;
    color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
.contact-card p i{
    margin-right: 15px;
    margin-left: 5px;
    background:  #a855f7;
    -webkit-background-clip: text;
    color: transparent;  
    font-size: 21px;   
}
.social-icons a{
    margin-left: 70px;
    font-size: 30px;
}
.btn1{
    font-weight: lighter;
    color: white;
   display: inline-block;
   margin-top: 20px;
   margin-left: 60px;
   padding: 5px;
   border-radius: 7px;
   background:  #a855f7;
   cursor: pointer;
   border: none;
}
@media only screen and (max-width:1112px) {
    .about{
        flex-direction: column;
    }
}
@media only screen and (max-width:810px) {
    .description-container{
        flex-direction: column;
    }
    .project-container{
        flex-direction: column;
    }
}
@media only screen and (max-width:810px) {
    .about-container{
        flex-direction: column;
    }
}
@media only screen and (max-width:700px) {
    .fa-x,.fa-bars{
        display: block;
        background: #a855f7;
        -webkit-background-clip: text;
        color: transparent; 
        cursor: pointer;
    }
.list{
    flex-direction: column;
    gap:0px;
    position: fixed;
    margin-top:0px;
    top: 0;
    right: -250px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.3s ease; 
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.list li{
    display: block;
    margin: 20px;
}
.fa-x{
    position: absolute;
    top: 23px;
    left: 20px;
    cursor: pointer;
    font-size: 23px;
}
.fa-bars{
    margin-right: 30px;
    font-size: 30px;
}
}